.telaLab {
  width: 78%;
  height: 71%;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-image: url("../images/fundoLab.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bolas {
  /* border: red 1px solid; */
  width: 23%;
  height: 10%;
  position: relative;
  top: 31.5%;
  left: 23%;
}

.gavetaEsquerda {
  /* border: purple 1px solid; */
  width: 38%;
  height: 15%;
  position: absolute;
  top: 58%;
  left: 0%;
  align-self: flex-end;
}

.gavetaDireita {
  /* border: blue 1px solid; */
  width: 38%;
  height: 15%;
  position: absolute;
  top: 58%;
  right: 0;
  align-self: flex-start;
}

.reator {
  /* border: green 1px solid; */
  width: 15%;
  height: 18%;
  position: absolute;
  top: 27%;
  left: 7.5%;
}


.plantaDireita {
  /* border: orangered 1px solid; */
  width: 7%;
  height: 15%;
  position: absolute;
  bottom: 0;
  justify-self: start;
  left: 0;
}

.plantaEsquerda {
  /* border: orangered 1px solid; */
  width: 7%;
  height: 15%;
  position: absolute;
  bottom: 0;
  justify-self: end;
  right: 0;
}

.boss {
  background-image: url('../images/spriteProfessor.png');
  top: 19%;
  left: 45%;
}