.telaLab{
    width: 78%;
    height: 71%;
    border: 2px solid white;
    position: relative;
    /* animation: ligarPcHorizontal 1s linear forwards,
      ligarPcVertical 0.5s linear 1s forwards, sumirBorda 0s linear 2.5s forwards; Encadeando as animações */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url("../images/fundoLab.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}