@import url("/fonts/Pokemon\ Hollow.ttf");

* {
  margin: 0;
  padding: 0;
  font-family: "Pokemon", cursive;
}

.moldura {
  background-image: url(/images/bordaJogo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 90vh;
  width: 70vw;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.tela {
  width: 0;
  height: 0;
  border: 2px solid white;
  position: relative;
  animation: ligarPcHorizontal 1s linear forwards,
    ligarPcVertical 0.5s linear 1s forwards, sumirBorda 0s linear 2.5s forwards; /* Encadeando as animações */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-image: url("../images/fundoInicial.jpg");
  background-size: 100% 100%;
}

@keyframes ligarPcHorizontal {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 78%;
  }
}

@keyframes ligarPcVertical {
  from {
    height: 0;
  }
  to {
    height: 71%;
  }
}

@keyframes sumirBorda {
  from {
    border: 2px solid white;
  }
  to {
    border: 0;
  }
}

@keyframes aparacerTitulo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tituloDiv {
  color: white;
  /* border: white 1px solid; */
  display: flex;
  justify-content: center;
  height: 300px;
  align-items: center;
  top: 15%;
}

.titulo {
  font-size: 5em;
  opacity: 0;
  margin: 0;
  animation: aparacerTitulo 1s linear 2s forwards;
  text-shadow: 
    2px 2px 0px black,  /* Sombra deslocada para baixo à direita */
    -2px 2px 0px black, /* Sombra deslocada para baixo à esquerda */
    2px -2px 0px black, /* Sombra deslocada para cima à direita */
    -2px -2px 0px black,/* Sombra deslocada para cima à esquerda */
    0px 2px 0px black,  /* Sombra diretamente abaixo */
    0px -2px 0px black, /* Sombra diretamente acima */
    2px 0px 0px black,  /* Sombra diretamente à direita */
    -2px 0px 0px black; /* Sombra diretamente à esquerda */
}

.optionsInicial {
  display: flex;
  /* border: white 1px solid; */
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 50%;
  justify-content: center;
  height: 50%;
}

.btn-optionsInicial{
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  text-shadow: 
    2px 2px 0px black,  /* Sombra deslocada para baixo à direita */
    -2px 2px 0px black, /* Sombra deslocada para baixo à esquerda */
    2px -2px 0px black, /* Sombra deslocada para cima à direita */
    -2px -2px 0px black,/* Sombra deslocada para cima à esquerda */
    0px 2px 0px black,  /* Sombra diretamente abaixo */
    0px -2px 0px black, /* Sombra diretamente acima */
    2px 0px 0px black,  /* Sombra diretamente à direita */
    -2px 0px 0px black; /* Sombra diretamente à esquerda */
  font-size: 2em;
}

.btn-optionsInicial:hover{
  text-decoration: underline;
}


.linhaOptions{
  display: flex;
  /* border: white 2px solid; */
  /* width: 100%; */
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bolinha {
  position: relative;
  border: black 2px solid;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-image: url('../images/favicon.png');
  transform: translateY(-50%);
  right: 2%;
  top: 18%;
  display: none;
}

.linhaOptions:hover .bolinha{
  display: block;
}

.a{
  color: white;
  text-decoration: none;
}