.telaTorre {
  width: 78%;
  height: 71%;
  border: 2px solid white;
  position: relative;
  /* animation: ligarPcHorizontal 1s linear forwards,
    ligarPcVertical 0.5s linear 1s forwards, sumirBorda 0s linear 2.5s forwards; Encadeando as animações */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-image: url("../images/fundoInicial.jpg");
  background-size: 100% 100%;
}

.andar {
  position: static;
  display: flex;
  /* border: white solid 2px; */
  height: 10%;
  width: 17%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/texturaTorre.png");
  bottom: 100%;
  align-items: center;
  justify-content: center;
  border-top: 3px solid black;
}

.andarBase {
  width: 30%;
  height: 2%;
}

.andarPortao {
  /* border: white solid 2px; */
  display: flex;
  align-items: end;
  justify-content: center;
}

.portao {
  /* border: black solid 3px; */
  border-radius: 50% 50% 0 0;
  box-shadow: 2px 2px 0px black,
    /* Sombra deslocada para baixo à direita */ -2px 2px 0px black,
    /* Sombra deslocada para baixo à esquerda */ 2px -2px 0px black,
    /* Sombra deslocada para cima à direita */ -2px -2px 0px black,
    /* Sombra deslocada para cima à esquerda */ 0px 2px 0px black,
    /* Sombra diretamente abaixo */ 0px -2px 0px black,
    /* Sombra diretamente acima */ 2px 0px 0px black,
    /* Sombra diretamente à direita */ -2px 0px 0px black; /* Sombra diretamente à esquerda */
  height: 70%;
  background-color: black;
  border-image: url("../images/texturaTorre.png") 5px;
  width: 20%;
}

.levelNumber {
  color: white;
  font-size: 2em;
  margin-left: 5%;
}

.iconBoss {
  border: white 2px solid;
  width: 50px;
  height: 50px;
}

.cardEscolhaLevel {
  border: white 2px solid;
  position: absolute;
  width: 25%;
  height: 50px;
  right: 15%;
  background-color: rgb(75, 72, 72);
  border-radius: 5px;
  display: flex;
}

.cardEscolhaLevel1 {
  bottom: 13%;
  display: none;
}
.cardEscolhaLevel2 {
  bottom: 23.5%;
  display: none;
}
.cardEscolhaLevel3 {
  bottom: 34%;
  display: none;
}
.cardEscolhaLevel4 {
  bottom: 45%;
  display: none;
}
.cardEscolhaLevel5 {
  bottom: 55%;
  display: none;
}
.cardEscolhaLevel6 {
  bottom: 65%;
  display: none;
}
.cardEscolhaLevel7 {
  bottom: 75%;
  display: none;
}
.cardEscolhaLevel8 {
  bottom: 85.5%;
  display: block;
}

.lutar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 2%;
    margin-top: 1%;
    margin-right: 2%;
}
.bossName{
    font-size: 1.5em;
    color: yellow;
}